body{
    margin:auto;
    background: #D6EAF8;
    font-family:sans-serif;
    color: grey;
  }
  
  main {
    margin: 50px;
  }
  
  table.listing {
      border-spacing: 0px;
      width: 80%;
      border: 1px solid grey;
  }
  
  table.listing th, table.listing td {
      border: 1px solid grey;
      height: 30px;
      padding: 5px;
  }
  
  input, select {
    padding: 6px;
  }
  
  nav ul {
  
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background: deepskyblue;
  }
  
  
  nav ul a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  nav ul a:hover {
    background: #1565C0;
}

  input {
    display: block;
    margin-top: 10px;
  }